<form id="search" action="<%= breeds_path %>">
  <div class="input-group">
    <%= text_field_tag :search, params[:search], id: 'content_search_term',class: 'form-control', placeholder:'Search...' %>
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit" id="button-addon2">Search</button>
    </div>
  </div>
</form>