<%= form_with url: breeds_path, method: :get, data: { controller: "form-submission", turbo_frame: "breeds" } do |form| %>
  <div class="input-group">
    <%= form.text_field :search, data: { action: "input->form-submission#search" }, id: 'content_search_term',class: 'form-control', placeholder:'Search...' %>
  </div>
<% end %>